@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  
  .rotate-x-1 {
    transform: rotateX(1deg);
  }
  
  .rotate-x-2 {
    transform: rotateX(2deg);
  }
  
  .rotate-y-2 {
    transform: rotateY(2deg);
  }
  
  .rotate-y-3 {
    transform: rotateY(3deg);
  }
}

